.git
.gitignore
.idea
.env
.env.*
!.env.prod.docker.example
node_modules
vendor
var
cache
dumps
symbols
public/build
build
npm-debug.log
yarn-error.log
legacy-master.zip
.env.local
.env.*.local
.manual-install
_dist
*.tar.gz
*.zip
