APP_PORT=18080

APP_SECRET=change-me

MARIADB_PASSWORD=change-me
MARIADB_ROOT_PASSWORD=change-me-too

MAILER_DSN=null://null
MAILER_FROM=throttle@example.com
SENTRY_DSN=

STEAM_API_KEY=
APP_ADMINS=
SYMBOL_UPLOAD_TOKEN=change-me-long-random-token
OAUTH_GITHUB_CLIENT_ID=
OAUTH_GITHUB_CLIENT_SECRET=
OAUTH_DISCORD_CLIENT_ID=
OAUTH_DISCORD_CLIENT_SECRET=
OAUTH_ALLIEDMODS_CLIENT_ID=
OAUTH_ALLIEDMODS_CLIENT_SECRET=

AUTO_MIGRATE=1
